<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
</head>

<body>

<div th:fragment="test">
  <form class="row g-3" action="#" th:action="@{/parameters/{id}(id=${parameters.id})}" th:object="${algorithm}" method="POST">
    <div class="form-group">
      <div class="col-6">
        <label for="description">Description</label>
        <input class="form-control"
               type="text"
               th:object="*{algorithm}"
               id="description"
               placeholder="Description"
        >

      <button type="submit" class="btn btn-outline-success">
        <i class="bi bi-plus-square-fill"></i> Update
      </button>
      </div>
    </div>
  </form>
</div>
</body>
</html>ml>